* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle,#FFFFFF,#1982c4);
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    text-shadow: #ff595e 1px 1px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ffca3a;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.card.flipped {
    background-color: #ecf0f1;
    color: black;
}

.reset-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.reset-button:hover {
    background-color: #ff0000;
}
